@import './Header.scss';
@import './LeftSiteBar.scss';
@import './Table.scss';
@import './Modal.scss';
@import './Intro.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    max-width: 100vw;
}

.primaryColor {
    color: rgba(207,35,56,1);
}

.invalid {
    color: #dc3545;
}

.container-lg-min {
    max-width: 1700px;
}

.text-title {
    color: rgba(207,35,56,1);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1rem;
}

.pointer:hover {
    cursor: pointer;
    opacity: 0.5;
}

.disable {
    opacity: 0.5;
}

.border {
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    height: calc(1.5em + .75rem + 2px);
}

.w-md {
    width: 12rem;

}

.w-ld {
    width: 18rem;
}

.icon-md {
    font-size: 35px;
}

.input-radio{
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    position: relative;
    top: 3px;
}

.input-radio:checked {
    border: 5px solid red;
}

.icon-eye{
    left: 86%;
}
.is-invalid,.is-valid{
    background-image:none !important;
}
.w-md{  
    .css-1r4vtzz,.css-48ayfv{
        padding: 2px 8px 5px 8px;
        border: 2px solid rgb(190,190,190);
        width: 120px;
        height: 34px;
        font-size: 16px;
        border-radius: .25rem 0 0 .25rem;
        box-shadow: none;
    }
    .css-ik6y5r{
        padding: 0;
        border-radius: 0 0 5px 5px; 
        margin-top: -10px;
        border: 2px solid rgb(162,162,162); 
        width: 144px;
    }
    .css-11unzgr{
        overflow: hidden;
        padding: 12px 0 ;
        line-height: 16px;
        min-height: 32px;
        background-color: rgb(245,245,245);
        div{
            background-color: rgb(245,245,245);
            height: 32px;
            font-weight: normal;
            display: flex;
            cursor: pointer;
            min-width: none !important;
            input[type="checkbox"] {
                /* Add if not using autoprefixer */
                -webkit-appearance: none;
                /* Remove most all native input styles */
                appearance: none;
                /* For iOS < 15 */
                background-color: var(--form-background);
                /* Not removed via appearance */
                font: inherit;
                color: currentColor;
                width: 1.15em;
                height: 1.15em;
                border: 0.085em solid currentColor;
                border-radius: 0.15em;
                transform: translateY(-0.075em);
                display:grid;
                place-content: center;
              }
              input[type="checkbox"]:hover{
                cursor: pointer;
              }
              input[type="checkbox"]::before {
                content: "";
                width: 1em;
                height: 1em;
                clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                transform: scale(0);
                transform-origin: bottom left;
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em var(--form-control-color);
                /* Windows High Contrast Mode */
                background-color: red ;
              }
              
              input[type="checkbox"]:checked::before {
                transform: scale(1);
              }
        }
        div:hover{
            background-color: rgb(232, 232, 232)
        }
    }
    .incon-filter{
    height: 34px;
    margin-left:-2px ;
    padding: 0 !important;
    border: 2px solid rgb(190,190,190) !important;
    border-radius: 0px .25rem .25rem 0px;
    padding: 0 3px !important;
    }
    .css-1gpjby2{
        display: none;
    }
}

.search-icon{
    border: 2px solid rgb(190,190,190);
    margin-left: -1px;
    border-left: none; 
    margin-right: 10%;
    border-radius: 0 5px 5px 0 ;
    svg{
        height: 20px; width: 20px;   
            
    };
   
}
.input-search{
    border: 2px solid rgb(190,190,190);
    border-radius: 5px 0 0 5px;
}