@import './Header.scss';
@import './LeftSiteBar.scss';
@import './Table.scss';
@import './Modal.scss';
@import './Intro.scss';
@import './Filter.scss';
@import './DetailModal.scss';
@import './SearchBox.scss';
@import './Paging.scss';
@import './Cvg.scss';
@import './DateFilter.scss';
@import './LookupModal.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    max-width: 100vw;
}

.primaryColor {
    color: rgba(207,35,56,1);
}

.invalid {
    color: #dc3545;
}

.container-lg-min {
    max-width: 1700px;
}

.text-title {
    color: rgba(207,35,56,1);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1rem;
}

.pointer:hover {
    cursor: pointer;
    opacity: 0.5;
}

.disable {
    opacity: 0.5;
}

.border {
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    height: calc(1.5em + .75rem + 2px);
}

.w-md {
    width: 12rem;

}

.w-ld {
    width: 18rem;
}

.icon-md {
    font-size: 35px;
}

.input-radio{
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    position: relative;
    top: 3px;
}

.input-radio:checked {
    border: 5px solid red;
}

.icon-eye{
    left: 86%;
}
.is-invalid,.is-valid{
    background-image:none !important;
}
 
.search-icon{
    border: 2px solid rgb(190,190,190);
    margin-left: -1px;
    border-left: none; 
    border-radius: 0 5px 5px 0 ;
    svg{
        height: 20px; width: 20px;   
            
    };
   
}
.input-search{     
    border: 2px solid rgb(190,190,190);
    border-radius: 5px 0 0 5px;
}

.search-icon{
    border: 2px solid rgb(190,190,190);
    margin-left: -1px;
    border-left: none; 
    border-radius: 0 5px 5px 0 ;
    svg{
        height: 20px; width: 20px;   
    };
}

.input-search{     
    border: 2px solid rgb(190,190,190);
    border-radius: 5px 0 0 5px;
}    

.text-overflow{
    width: 225px;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}