.header {
    background-color: rgba(207,35,56,1);
    height: 51px;
    margin: 0px;
    font-size: 20px;
}

.headText {
    font-family: Segoe UI, Arial;
    font-weight: bold;
    color: rgba(250,252,252,1);
    text-transform: capitalize;
    margin: 0;
}

.btn.btn-link.dropdownButton {
    font-size: 20px;
    color: rgba(250,252,252,1);
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    padding: 0;

    span {
    font-weight: normal;
    font-size: 15px;
    }
}