.search-box{
    .input-group{
        position: relative;
        .suggestion-list{
            width: 100%;
            position: absolute;
            top: 100%;
            background-color: #f2f2f2;
            border-radius: 5px;
            z-index: 10000;
            padding: 5px 0px;
            .suggestion{
                padding: 10px;
                cursor: pointer;
            }
            .suggestion:hover{
                background-color: #B2D4FF;
                font-weight: bolder;
            }
        }
    }
}