.table-container {
    overflow-x: auto;

    table {
        border-collapse: separate;
        border-spacing: 1rem 0;
    }

    .table {
        width: 100%;
        text-align: left;
    
        thead th {
            //text-transform: capitalize;
            
            a {
                font-weight: bold;
            }
        }
    
        td {
            border-bottom: 2px solid #dee2e6;
            padding: 0;
            border-top: none;
        }
    
        td:last-child {
            border: none;
        }
    
        th {
            padding: 0;
            border-bottom: 0 2px solid #dee2e6;
            border-top: none;
        }

        tr:hover {
            cursor: pointer;
        }
    }   
    
}

.table-container-history{
    overflow-x: auto;
    table{
        border-collapse: separate;
        border-spacing: 1rem 0;
    }
    .table-history{
        thead th {
            border-bottom: 2px solid rgb(149, 153, 153);
            a {
                font-weight: bold;
            }
        }
        td {
            border-bottom: 2px solid #dee2e6;
            padding: 0;
            border-top: none;
        }
        th {
            padding: 0;
            border-bottom: 0 2px solid #dee2e6;
            border-top: none;
        }
    }
}

.report-table{
    td:last-child {
        border-bottom: 2px solid #dee2e6 !important;
        padding: 0 !important;
        border-top: none !important;
    }
}


.pagination {
    margin-left: auto;

    li {
        .pagination__link {
            color: rgba(207,35,56,1);
            padding: 0.5rem 1rem;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            text-decoration: none;
        }

        
        .link-disable {
            color: rgba(108,117,125,1);
        }
        
        .pagination__link:hover, .link-active {
            background-color: rgba(207,35,56,1);
            color: aliceblue;
            cursor: pointer;
        }
        
        .link-active:hover {
            cursor: default;
        }

        .link-disable:hover{
            cursor:not-allowed;
            background-color: transparent;
            color: rgba(108,117,125,1);
        }

    }
}
.table-detail>div>div:last-child{
    word-break:break-all;
}
.table-detail-large{
    @media (min-width: 576px){
        .model-info-asset{
            max-width: 550px;
        }
    }
}
.scroll{
    overflow-y: scroll;
    scrollbar-width: none;
    word-break: break-all;
    overflow:auto;
    max-height: 100px;
}
